body {
    font-family: Arial, sans-serif;
    font-weight:bold;
    margin: 0;
    padding: 20px;
    background-color: peachpuff;
}

#main {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.terminal-container {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    background-color: black;
    color: white;
    font-family: monospace;
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
}