.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px; /* Added some padding */
  gap: 10px; /* Add some space between the buttons */
}

/* This will target both the coffee link and the vibetime button */
.top-bar > * {
  vertical-align: middle;
}

.vibetime-button {
  background-color: lightseagreen;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.tab-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.tabs {
    padding: 10px;
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.tab-content {
    flex: 1;
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
}

.tab-button {
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #666;
    color: white;
}

.tab-button.active {
    background-color: darkorange;
}